body
{
    background-color: #DBE2EF;
}

h1
{
    color: #195396;
}

h3
{
    color: #112D4E;
}

hr
{
    background-color: #3F72AF;
    border-style: none;
    height: 3px;
    width: 90%;
}

